.glass {
  // background: rgba( 255, 255, 255, 0.25 );
  // box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 1 );
  // backdrop-filter: blur( 4px );
  // -webkit-backdrop-filter: blur( 4px );
  // border-radius: 12px;
  // border: 1px solid rgba( 255, 255, 255, 0.18 );
  // outline: none;

  background: rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.7);

  display: flex;
  width: 30%;
  height: 42vh;
  margin: 4% 0%;
  min-width: 290px;
  max-height: 270px;
}

.infos {
  color: #d5dbe0;
}

.profile-picture{
  margin: 3%;
  border-radius: 50%;
  overflow: hidden;
  // height: 120px;
  width: 30%;
  // background: black;
}

img {
  width: 100%;
}

p {
  font-family: Lato;
  // line-height: normal;
  color: #d5dbe0;
}

.social {
  display: flex;
  height: 10vh;
  justify-content: space-around;
  // align-items: flex-end;
  width: 60%;
  align-items: center;
}

.logo {
  color: #d5dbe0;
  cursor: pointer;
}

.logo svg {
  color: #d5dbe0;
  height: 25px;
}
