<div class="glass mx-auto" style="flex-direction: column;">
  <div class="profile-picture txt-center mx-auto" style="border: 3px solid white;">
    <img src="../../assets/images/foto-de-perfil.jpg">
  </div>

  <div class="infos mx-auto">
    <b>Igor de Cerqueira Lanes</b>
  </div>
  <div class="infos mx-auto">
    Front - End Developer
  </div>

  <div class="social mx-auto">
    <div class="logo">
      <i class="bi bi-github"></i>
    </div>
    <div class="logo">
      <img src="/assets/icons/linkedin.svg" alt="LinkedIn">
    </div>
    <div class="logo">
      <img src="/assets/icons/instagram.svg" alt="Instagram">
    </div>
    <div class="logo">
      <img src="/assets/icons/whatsapp.svg" alt="whatsapp">
    </div>
    <div class="logo">
      <img src="/assets/icons/envelope.svg" alt="email">
    </div>
  </div>
</div>

